body {
  background-color: #0a0a23;
  background-image: url("dungeon.jpg");
}

#text {
  background-color: black;
  color: #ffffff;
  padding: 10px;
  font-family:Arial, Helvetica, sans-serif;
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: dark blue;
  color: #ffffff;
  margin: 30px auto 0px;
  padding: 100px;
}

#controls,
#stats {
  border:1px solid #0a0a23;
  padding: 5px;
  color: #0a0a23;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;

}
#stats {
    display: flex;
    justify-content: space-between;  
     

}

#dungeon{
  background-size:auto;

}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img {
  width: 100%;
}
